/bin
/obj
/.vs
/LinesWithUI/obj
/LinesWithUI/bin
/packages
/src/LinesConsole/obj
/src/LinesConsole/bin
/src/LinesWithUI/bin
/src/LinesWithUI/obj
/JdTry.WebAPI/obj
/JdTry.WebAPI/bin
/JdTry.WebAPI/db
/JdTry/.vs
/JdTry.Console/bin
/JdTry.Console/obj
/JdTry/bin
/JdTry/obj
/JdIOSWebLoginTool/obj.netcore
/JdIOSWebLoginTool/bin.netcore
/JdIOSWebLoginTool/bin
/bin.netcore
/obj.netcore
