<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--青龙服务器及应用授权,如果不上传留空,关于青龙的ClientID和ClientSecret,参考青龙相关介绍,权限需要环境变量-->
    <add key="qlUrl" value=""/>
    <add key="qlClientID" value="aaaaaaaaaa"/>
    <add key="qlClientSecret" value="aaaaaaaa-bbbbbbbbc-----ddd"/>


    <!--如果你的面板没有相关接口,可以不管,如需开启改为true:-->
    <add key="upload" value="false"/>
    <!--向服务器:新增cookie时的接口地址,示例:-->
    <add key="server" value="http://127.0.0.1:5678/addck?ck="/>
    <!--方法,一般上传数据都是Post,代码也写了个支持Get,但后台没人这么写吧...-->
    <add key="method" value="post"/> 
  </appSettings>
</configuration>
